requests_testadapter==0.3.0
cryptography==3.2
lxml==4.6.3
Flask==1.0.2
html5lib==1.0.1
setuptools==40.6.3
keyring==17.0.0
MarkupSafe==1.1.0
pycrypto==2.6.1
pyOpenSSL==19.0.0
ca_certs_locater==1.0
cchardet==2.1.4
Django==2.2.13
fasteners==0.14.1
jsonpickle==1.1
simplejson==3.16.0
webapp2==2.5.2
